<div class="fruitlist_content">
  @for(singlefruit of fruitlist; track singlefruit.name; let index = $index){
    <app-singlefruit (fruitname)="addComment($event, index)" [fruit]="singlefruit"></app-singlefruit>

    <!-- <app-singlefruit (fruitname)="nameLog($event)" [fruit]="singlefruit"></app-singlefruit> -->
    <!-- <app-singlefruit (click)="numLog(index)" [fruit]="singlefruit"></app-singlefruit>  -->
    <!-- <app-singlefruit (mouseover)="numLog(index)" [fruit]="singlefruit"></app-singlefruit>  -->
    <!-- <app-singlefruit (mouseenter)="numLog(index)" [fruit]="singlefruit"></app-singlefruit>  -->

  }
</div>


<!--
@for(item of fruitlist; track item.name; let index = $index; let last = $last; let first = $first){
  <p>Name of the Fruit: {{item.name}}</p>
  <p>{{index}}:&nbsp;{{item.name}}</p>
  <p>{{first}}:&nbsp;{{item.name}}</p>
  <p>{{last}}:&nbsp;{{item.name}}</p>
}
-->

<!-- <p>fruitlist works!{{howItWorks}}</p> -->
<!-- <p>fruitlist works!{{fruitlist[5].name}}</p> -->

<!-- <img src="assets/img/fruits/{{fruitlist[5].img}}" alt=""> -->
